# Exploratory Data Analysis

Purpose: The objective here, is to perform EDA, and data visualization tasks on “Student Habits vs Academic Performance: A Simulated Study” datasets!

####   Femi Jupyter Notebook EDA
###### GitHub: [My GitHub Profile](https://github.com/Airfirm)
####   Author: Oluwafemi Salawu
####   Repository: datafun-06-eda
####   Date: 06/07/2025

Section 1. Imports, Read and Load Data

In [24]:
# Check if file is available in the current directory
import os

# Core Data Science Imports
import numpy as np  # Numerical computing (v1.24+ recommended)
import pandas as pd  # Data manipulation (v2.0+ recommended)
import pyarrow as pa  # Arrow memory format (v12.0+ recommended)

# Visualization Imports
import matplotlib as mpl  # Base matplotlib
import matplotlib.pyplot as plt  # Plotting interface
import seaborn as sns  # Statistical visualization (v0.12+ recommended)

# Configure global settings
plt.style.use('seaborn-v0_8')  # Modern style
pd.set_option('display.max_columns', 30)  # Show more columns
pd.set_option('display.float_format', '{:.2f}'.format)  # Clean number display

# Print versions
print(f"numpy: {np.__version__}")
print(f"pandas: {pd.__version__}")
print(f"pyarrow: {pa.__version__}")
print(f"matplotlib: {mpl.__version__}")
print(f"seaborn: {sns.__version__}")

# Verify imports worked
assert not pd.isnull(np.pi)  # Quick sanity check
print("\nAll imports successful! ✅")

numpy: 2.3.0
pandas: 2.3.0
pyarrow: 20.0.0
matplotlib: 3.10.3
seaborn: 0.13.2

All imports successful! ✅

Checking if file path exist

In [25]:
print(os.path.exists('eda_datasets/student_habits_vs_academic_performance.csv'))

True

Read CSV file and Load to DataFrame

In [26]:
url = 'eda_datasets/student_habits_vs_academic_performance.csv'
df = pd.read_csv(url)

# Display the first few rows
df.columns = df.columns.str.replace(' ', '_')  # Clean column names
print("\nDataFrame loaded successfully:")

DataFrame loaded successfully:

Section 2. Display first 5 and last 5 rows

In [27]:
# Display first 5 and last 5 rows
df

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.00,1.20,1.10,No,85.00,8.00,Fair,6,Master,Average,8,Yes,56.20
1,S1001,20,Female,6.90,2.80,2.30,No,97.30,4.60,Good,6,High School,Average,8,No,100.00
2,S1002,21,Male,1.40,3.10,1.30,No,94.80,8.00,Poor,1,High School,Poor,1,No,34.30
3,S1003,23,Female,1.00,3.90,1.00,No,71.00,9.20,Poor,4,Master,Good,1,Yes,26.80
4,S1004,19,Female,5.00,4.40,0.50,No,90.90,4.90,Fair,3,Master,Good,1,No,66.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,21,Female,2.60,0.50,1.60,No,77.00,7.50,Fair,2,High School,Good,6,Yes,76.10
996,S1996,17,Female,2.90,1.00,2.40,Yes,86.00,6.80,Poor,1,High School,Average,6,Yes,65.90
997,S1997,20,Male,3.00,2.60,1.30,No,61.90,6.50,Good,5,Bachelor,Good,9,Yes,64.40
998,S1998,24,Male,5.40,4.10,1.10,Yes,100.00,7.60,Fair,0,Bachelor,Average,1,No,69.70
999,S1999,19,Female,4.30,2.90,1.90,No,89.40,7.10,Good,2,Bachelor,Average,8,No,74.90

Section 3. Initial Descriptive Statistics

In [28]:
df.describe()  # Summary statistics for all columns

,age,study_hours_per_day,social_media_hours,netflix_hours,attendance_percentage,sleep_hours,exercise_frequency,mental_health_rating,exam_score
count,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00,1000.00
mean,20.50,3.55,2.51,1.82,84.13,6.47,3.04,5.44,69.60
std,2.31,1.47,1.17,1.08,9.40,1.23,2.03,2.85,16.89
min,17.00,0.00,0.00,0.00,56.00,3.20,0.00,1.00,18.40
25%,18.75,2.60,1.70,1.00,78.00,5.60,1.00,3.00,58.48
50%,20.00,3.50,2.50,1.80,84.40,6.50,3.00,5.00,70.50
75%,23.00,4.50,3.30,2.52,91.03,7.30,5.00,8.00,81.33
max,24.00,8.30,7.20,5.40,100.00,10.00,6.00,10.00,100.00

Checking parental education level statistics

In [29]:
# checking parental_education_level field
df['parental_education_level'].describe()

count             909
unique              3
top       High School
freq              392
Name: parental_education_level, dtype: object

Section 4. Dataset Summary

In [30]:
df.info()  # DataFrame summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     1000 non-null   object
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       909 non-null    object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(3), object(7)
memory usage: 125.1+ KB

Section 5. Check for missing / null values

In [31]:
# checking for missing values
df.isnull().sum()

student_id                        0
age                               0
gender                            0
study_hours_per_day               0
social_media_hours                0
netflix_hours                     0
part_time_job                     0
attendance_percentage             0
sleep_hours                       0
diet_quality                      0
exercise_frequency                0
parental_education_level         91
internet_quality                  0
mental_health_rating              0
extracurricular_participation     0
exam_score                        0
dtype: int64

Filling missing values with most common values

In [32]:
# The parental_education_level column, has 91 missing values, we can fill these with the mode (most common value)
df['parental_education_level'] = df['parental_education_level'].fillna(df['parental_education_level'].mode()[0])

Checking to make sure all missing / null values had been fillna

In [33]:
# checking for missing values after fillna
df.isnull().sum()

student_id                       0
age                              0
gender                           0
study_hours_per_day              0
social_media_hours               0
netflix_hours                    0
part_time_job                    0
attendance_percentage            0
sleep_hours                      0
diet_quality                     0
exercise_frequency               0
parental_education_level         0
internet_quality                 0
mental_health_rating             0
extracurricular_participation    0
exam_score                       0
dtype: int64

Skill: Inspect Numeric Columns
Common exploration techniques for numeric columns include:

df.describe(): Summarizes statistics like mean, median, and standard deviation.
df['column_name'].hist(): Visualizes the distribution of values with a histogram.
df.corr(): Computes the correlation between numeric columns, which helps identify relationships between variables.
df.hist(): Creates histograms for all numeric columns in the DataFrame, helping you see the distributions at a glance.


Skill: Inspect Categorical Columns
Common techniques include:

df['categorical_column'].value_counts(): Counts the occurrences of each unique value in a categorical column, providing a frequency distribution.
df['categorical_column'].unique(): Displays the unique categories present in the column, helping you understand the distinct values.
pd.crosstab(df['column1'], df['column2']): Cross-tabulates two categorical columns to observe relationships between them. This is useful for understanding how one category is distributed across another.


Advanced Skill: Prepare Categorical Data for Machine Learning
In machine learning, models require numeric input, and we can’t feed them raw text like "red", "blue", or "green".

That means we often need to convert categorical data into numeric format before training a model.
There are different ways to do this, depending on the model and data — from simple mappings (like 0, 1, 2) to more advanced techniques.

Advanced (optional): For professional projects, look up one-hot encoding, a common method where each category is turned into a separate column with 1s and 0s.